.event-form-modal .MuiDialog-paper {
  background-color: #2e2e2e;
  color: #ececec;
  font-family: Roboto, sans-serif;
  border-radius: 8px;
}


.event-form-modal .MuiDialogTitle-root {
  color: #fff;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-form-modal .MuiIconButton-root {
  color: #fff;
}


.event-form-modal .MuiDialogContent-root {
  background-color: #bbbbbb;
  color: #ececec;
  padding: 16px;
}

.event-form-modal .MuiTextField-root {
  margin-bottom: 16px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 4px;
}

.event-form-modal .MuiAutocomplete-listbox {
  background-color: #2e2e2e;
  color: #ececec;
}

.event-form-modal .MuiDialogActions-root {
  background-color: #1f1f1f;
  padding: 8px 16px;
}

.event-form-modal .MuiButton-root {
  margin: 0 8px;
  color: #fff;
  text-transform: none;
}

.event-form-modal .MuiButton-root:hover {
  background-color: #3b3b3b;
}
